
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color:blanchedalmond;
 
}

.officer {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px; 
        text-align: center;
        padding: 30px;
        border-radius: 8px;
}
.item > p {
    border-style: solid;
    border-color: antiquewhite;
    background-color:rgba(253, 253, 253, 0.827);
    border-width: 3px;
    padding: 10px;
    font-size: small;
}


img {
    height: auto;
    width: 200px;
}




