
body {
    background-color: burlywood;
    margin: 0;
}

main {
    margin: 20px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    background-color:blanchedalmond;
 
}

.officer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    row-gap: 5px;
}

.item {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px; 
        text-align: center;
        padding: 40px;
        padding-bottom: 30px;
        border-radius: 8px;
}
.item > p{
    border-style: solid;
    background-color: rgb(255, 228, 192);
    border-color: antiquewhite;
    color: rgb(35, 35, 35);
    border-width: 3px;
    padding: 10px;
}

.item > h3{
    letter-spacing: 3px;


}

img {
    height: auto;
    width: 200px;
}

h1, h2 {
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: black;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar a{
    color: antiquewhite;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar li{
    float: left;

 }
.navbar a:hover{
    background-color: rgba(182, 178, 178, 0.167);
}
